# Assignment - Analyse based on the data, user reviews and other information of restaurants. To find out useful insights to improve overall restaurant experience in Bengaluru.
Steps :
1. Importing require libraries and packages
2. Reading ,understanding and visulaizing the data
3. Train the model
4. Residual Analysis.
5. Test the model
6. Predication, model evaulation on the test

Author : Chandrasen Wadikar

In [15]:
# 1. Importing the require libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings('ignore')

# set the seaborn style
sns.set_style("whitegrid")

In [16]:
# 2. Reading the data

rest = pd.read_csv("C:/Users/chandrasen.wadikar/Desktop/RestoInfo.csv")
rest.head()

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield

In [17]:
# Checking the shape of the data in terms of the rows and columns
rest.shape

(2069, 15)

In [18]:
# Checking whether any missing values, null present in the data
rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Data columns (total 15 columns):
Unnamed: 0                     2069 non-null int64
name                           2069 non-null object
online_order                   2069 non-null object
book_table                     2069 non-null object
rate                           1770 non-null object
votes                          2069 non-null int64
location                       2069 non-null object
rest_type                      2052 non-null object
dish_liked                     962 non-null object
cuisines                       2069 non-null object
approx_cost(for two people)    2053 non-null object
reviews_list                   2069 non-null object
menu_item                      2069 non-null object
listed_in(type)                2069 non-null object
listed_in(city)                2069 non-null object
dtypes: int64(2), object(13)
memory usage: 242.5+ KB

In [19]:
# 3. Visulaizing different statistics 
rest.describe()

         Unnamed: 0        votes
count   2069.000000  2069.000000
mean   25840.654422   276.048333
std    14877.311956   673.916908
min       27.000000     0.000000
25%    12561.000000     7.000000
50%    26193.000000    43.000000
75%    38902.000000   210.000000
max    51643.000000  7854.000000

In [25]:
# Visualizing the variables
sns.pairplot(rest)
plt.figure(figsize=(10,5))
plt.show()

In [37]:
rest.isnull()

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
28,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2040,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2041,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2042,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2043,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2044,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2045,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2046,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
2047,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2048,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2049,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2050,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2051,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2052,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2053,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2054,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2055,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2056,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
2057,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2058,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
2059,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2060,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
2061,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2062,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2063,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2064,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2065,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2066,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2067,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False
2068,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [38]:
# Removing NA values
rest_remove = rest.dropna(axis=0)

In [39]:
# Checking the dimesions
rest_remove.shape

(941, 15)

In [46]:
# Special charaters, Garbage data is handled with the space.
removeSpecialChars = rest.replace ({ord(c): " " for c in "!@#$%^&*()[]{};:,./<>?\|`~-=_+"})

In [49]:
rest.isnull().sum()

Unnamed: 0                        0
name                              0
online_order                      0
book_table                        0
rate                            299
votes                             0
location                          0
rest_type                        17
dish_liked                     1107
cuisines                          0
approx_cost(for two people)      16
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [54]:
rest.replace(0," ")

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,NaN,,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield
5,32050,Bistro Oui,Yes,Yes,4.1 /5,402,Koramangala 5th Block,"Cafe, Bar","Veg Burger, Pork Ribs, Pizza, Chicken Sandwich...","Cafe, Continental, Salad, Steak","1,200","[('Rated 4.0', 'RATEDn Funny & TastynnWe visi...",[],Pubs and bars,Koramangala 5th Block
6,9918,Bhavani Upahara,Yes,No,3.3/5,9,Bannerghatta Road,Quick Bites,NaN,South Indian,250,"[('Rated 5.0', 'RATEDn best north Karnataka f...",[],Delivery,BTM
7,6134,Hotel Tom's Restaurant,Yes,Yes,4.4/5,712,Richmond Road,Casual Dining,"Appam, Sea Food, Fry Prawns, Dal Fry, Chicken ...","Mangalorean, Seafood, Chinese, North Indian","1,000","[('Rated 4.0', ""RATEDn Quite an old place to ...",[],Dine-out,Brigade Road
8,5350,Munchies,Yes,No,3.9/5,64,Brigade Road,"Quick Bites, Bakery","Burgers, Sandwiches, Momos, Chicken Seekh Roll...","Fast Food, Bakery",250,"[('Rated 4.0', 'RATEDn I am glad i found this...","['Spicy Mixed Vegetable Club Sandwich', 'Chick...",Delivery,Brigade Road
9,2301,Vinaya Coffee Moments,Yes,No,3.8/5,46,JP Nagar,Cafe,"Filter Coffee, Pizza, Pasta","Burger, Cafe, Desserts, Sandwich, Italian",450,"[('Rated 3.0', ""RATEDn This is great place fo...",[],Dine-out,Bannerghatta Road
10,6931,Kaati Zone,Yes,No,3.3/5,184,Marathahalli,Quick Bites,"Rolls, Falafel, Biryani, Paratha","Fast Food, Biryani, Rolls",350,"[('Rated 3.0', 'RATEDn Ordered a couple of ti...","['Batata Vada Roll', 'Corn and Peas Falafel Ro...",Delivery,Brookefield
11,5526,Mount Blue,No,No,NaN,,Brigade Road,"Bakery, Quick Bites",NaN,"Bakery, Fast Food",300,[],[],Delivery,Brigade Road
12,11285,Cool Lassi Burger,No,No,3.1/5,7,Koramangala 5th Block,"Beverage Shop, Quick Bites",NaN,"Beverages, Fast Food, Burger",200,"[('Rated 4.5', 'RATEDn Try there sweet lassi ...",[],Dine-out,BTM
13,25873,Naidu Military Hotel,Yes,No,3.5/5,13,Kammanahalli,Quick Bites,NaN,South Indian,250,"[('Rated 3.0', 'RATEDn If you are looking for...",[],Delivery,Kammanahalli
14,31506,Lakeview Milkbar,No,No,3.8 /5,291,Koramangala 8th Block,"Dessert Parlor, Cafe","Burgers, Pizza, Chocolate Fudge, Caramel Chees...","Desserts, Cafe, Fast Food",500,"[('Rated 3.0', 'RATEDn The ice cream served h...",[],Dine-out,Koramangala 5th Block
15,4697,Mumbai Xpress,Yes,No,2.9/5,89,Bellandur,Quick Bites,"Chai, Vada Pav, Pizza","Fast Food, Street Food",350,"[('Rated 4.0', 'RATEDn Mumbai vadapav in the ...","['Marine Drive Sandwich', 'Chote Lal Burger', ...",Dine-out,Bellandur
16,40281,Pakwan,Yes,Yes,4.1 /5,289,Sadashiv Nagar,Casual Dining,"Virgin Colada, Naan, Biryani, Raita, Tomato Ba...","North Indian, Chinese, Italian",800,"[('Rated 5.0', 'RATEDn One of the best food p...","['Vegetable Hakka Noodles', 'Hara Masala Ka Pa...",Dine-out,Malleshwaram
17,10725,Vibe Club,No,No,NaN,,BTM,Quick Bites,NaN,"Fast Food, Beverages",300,[],[],Dine-out,BTM
18,18810,Blistering Barnacles,No,Yes,3.9/5,1214,Indiranagar,Pub,"Strawberry Mojito, Cocktails, Chicken Momo, Ca...","Chinese, Continental, American, Steak","1,200","[('Rated 4.0', 'RATEDn Great place to hang ou...",[],Dine-out,Indiranagar
19,19368,Bangalore Pub Exchange,No,Yes,4.1/5,207,MG Road,"Pub, Casual Dining","Pizza, Fish, Cocktails, Pasta Alfredo, Brownie...","Continental, Finger Food, Pizza, North Indian","1,000","[('Rated 3.0', 'RATEDn Finding the place was ...",[],Pubs and bars,Indiranagar
20,51093,Green Hyderabad Biryani House,Yes,No,3.8 /5,433,Whitefield,Casual Dining,"Lassi, Hyderabadi Biryani, Tandoori Chicken, L...","Biryani, Hyderabadi, Andhra, North Indian",800,"[('Rated 5.0', 'RATEDn I have been trying Bir...",[],Dine-out,Whitefield
21,31224,FNC Seafood,No,No,NaN,,Koramangala 5th Block,Quick Bites,NaN,"Seafood, Fast Food",400,"[('Rated 5.0', 'RATEDn Vry gud taste and some...",[],Dine-out,Koramangala 5th Block
22,12634,Chianti,No,Yes,4.4/5,280,MG Road,Casual Dining,"Pizza, Seafood Pasta, Panna Cotta, Ravioli, La...",Italian,"1,500","[('Rated 3.0', ""RATEDn We visited the restrau...",[],Dine-out,Church Street
23,40202,Ambur Biryani Zone,No,No,NaN,,Malleshwaram,Quick Bites,NaN,"Biryani, Kebab",150,[],[],Dine-out,Malleshwaram
24,6340,Kamat's Palate Korner,No,No,4.1/5,121,Richmond Road,Casual Dining,"Butter Chicken, Jeera Rice, Dal Makhani, Butte...","North Indian, Chinese",600,"[('Rated 5.0', 'RATEDn One of my all time fav...",[],Dine-out,Brigade Road
25,20539,Nouvelle Garden,No,No,3.7/5,203,JP Nagar,Casual Dining,"Tiramisu, Pasta, Salads, Gulab Jamun, Butter N...","North Indian, Continental, Italian",900,"[('Rated 2.5', ""RATEDn The staff cares more a...",[],Delivery,Jayanagar
26,36566,Watheen Nuts,No,No,NaN,,BTM,"Takeaway, Delivery",NaN,Desserts,400,[],[],Desserts,Koramangala 7th Block
27,37861,Ishta Upahar,Yes,No,3.5 /5,44,Ulsoor,Quick Bites,NaN,South Indian,100,"[('Rated 3.0', 'RATEDn The food was of good t...",[],Delivery,Lavelle Road
28,7556,Hottey Smokey,Yes,No,NaN,,"Varthur Main Road, Whitefield",Quick Bites,NaN,"American, Continental, Salad, Italian, Asian",400,"[('Rated 2.0', ""RATEDn Not good. Ordered food...","['Veg Fried Rice', 'Veg Nasi Goreng Rice', 'Ve...",Delivery,Brookefield
29,39739,Srushti Coffee,Yes,No,3.4 /5,9,Malleshwaram,Quick Bites,NaN,South Indian,300,"[('Rated 5.0', 'RATEDn Superb, the owner of t...","['2 Idli with Sambhar', 'Khara Bhath', 'Kesari...",Delivery,Malleshwaram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,51128,Incanto - The Zuri,No,Yes,4.0 /5,89,Whitefield,Fine Dining,"Pasta, Tiramisu, Cheesy Pizza",Italian,"2,500","[('Rated 5.0', ""RATEDn The most awesome gastr...",[],Dine-out,Whitefield
2040,15960,Aligarh House,Yes,No,4.4/5,568,HSR,Delivery,"Chicken Masala Biryani, Kulcha, Raita, Chicken...","North Indian, Biryani, Awadhi, Mughlai",400,"[('Rated 3.0', 'RATEDn I tried the biryani he...",[],Delivery,HSR
2041,47022,Hari Super Sandwich,No,No,3.9 /5,61,Malleshwaram,Quick Bites,NaN,"Fast Food, Street Food",200,"[('Rated 5.0', ""RATEDn A very pocket friendly...",[],Dine-out,Rajajinagar
2042,49645,The Meal Story,Yes,No,4.1 /5,262,Sarjapur Road,Casual Dining,"Paratha, Chaat, Jalebi Rabri, Kheer, Pav Bhaji...","North Indian, Street Food",700,"[('Rated 4.0', 'RATEDn Nice place located in ...","['Rabdi Jalebi', 'Tandoori Chicken', 'Dal Khic...",Dine-out,Sarjapur Road
2043,39392,Ssaffron - Shangri-La Hotel,No,Yes,4.4 /5,751,Vasanth Nagar,"Fine Dining, Bar","Biryani, Kulfi, Butter Chicken, Dal Makhani, Z...",North Indian,"3,000","[('Rated 5.0', 'RATEDn Very nice experience. ...",[],Drinks & nightlife,Lavelle Road
2044,41385,Aashirvaad Restaurant,Yes,No,3.1 /5,253,Marathahalli,Quick Bites,NaN,"North Indian, Oriya, Chinese",300,"[('Rated 5.0', 'RATEDn Just now I order from ...","['Veg Thali', 'Roti Thali', 'Special Veg Thali...",Delivery,Marathahalli
2045,51403,Windy- Taste Of Home,Yes,Yes,3.6 /5,112,Whitefield,Quick Bites,"Thali, Biryani, Aloo Paratha",North Indian,300,"[('Rated 4.0', ""RATEDn This is a small place ...","['Mini Thali', 'Prop Thali', 'Ghee Thali', 'No...",Dine-out,Whitefield
2046,47880,Lazeez Khana,No,No,NaN,,Shivajinagar,"Takeaway, Delivery",NaN,"Arabian, North Indian, Fast Food",300,[],[],Delivery,Residency Road
2047,15401,Rahhams,Yes,No,3.9/5,851,Frazer Town,Casual Dining,"Mutton Biryani, Shawarma, Bheja Fry, Pahari Ch...","Mughlai, North Indian, Chinese",700,"[('Rated 4.0', ""RATEDn If you want the best a...","['Butter Chicken', 'Rumali Roti', 'Butter Naan...",Dine-out,Frazer Town
2048,7469,Andhra Central,Yes,No,3.1/5,13,Marathahalli,Food Court,NaN,Andhra,400,"[('Rated 3.0', 'RATEDn Food is not hot. Taste...","['Ginger Garlic Chicken', 'Non Veg Meal', 'And...",Delivery,Brookefield
2049,5406,Cobaja,Yes,Yes,4.3/5,61,Brigade Road,Casual Dining,"Badam Milk, Cocktails, Mutton Liver Fry, Paan ...","Seafood, South Indian, Bar Food, Mangalorean, ...",700,"[('Rated 5.0', ""RATEDn This place absolutely ...","['Chicken Kabab', 'Yeti curry', 'Chitranna ', ...",Delivery,Brigade Road
2050,25978,CK's Bakery,Yes,No,3.5/5,4,City Market,Bakery,NaN,"Bakery, Fast Food",200,"[('Rated 4.0', ""RATEDn It's a cute small cafe...","['Premium Chocotruffle Cake [500 grams]', 'Gri...",Desserts,Kammanahalli
2051,34784,Third Wave Coffee Roasters,No,No,4.4 /5,1227,Koramangala 4th Block,Cafe,"Coffee, Hummus Platter, Granola Parfait, Hot C...","Cafe, Continental, Desserts",800,"[('Rated 5.0', 'RATEDn Very nice and calm pla...",[],Cafes,Koramangala 7th Block
2052,20846,Parivaar,Yes,No,2.9/5,20,Koramangala 7th Block,Delivery,NaN,"Biryani, North Indian, Chinese",600,"[('Rated 1.0', ""RATEDn Phulka was totally dif...",[],Delivery,Jayanagar
2053,23748,Siddique Kabab Centre,Yes,No,3.1/5,68,Jayanagar,Quick Bites,"Chicken Grill, Rumali Roti, Rolls","Mughlai, Kebab, Chinese",550,"[('Rated 5.0', ""RATEDn Best kebabs and rolls ...",[],Dine-out,JP Nagar
2054,9435,Kargeens,Yes,No,4.1/5,988,Koramangala 6th Block,Cafe,"Mocktails, Pasta Alfredo, Nachos, Veggie Pizza...","Cafe, Continental, Italian",600,"[('Rated 4.0', 'RATEDn Nice place for hookah ...","['Chilli Paneer', 'Chicken Nachos', 'Classic C...",Delivery,BTM
2055,18360,Eatato Snack Bar,Yes,No,3.3/5,11,Brigade Road,Casual Dining,NaN,"North Indian, Fast Food",400,"[('Rated 1.0', 'RATEDn Hopeless food. Flavour...",[],Delivery,Indiranagar
2056,13593,Omleterian,Yes,No,NaN,,Electronic City,Quick Bites,NaN,"American, Continental",200,"[('Rated 1.0', 'RATEDn I just received a burn...",[],Delivery,Electronic City
2057,20232,New Friends,Yes,No,3.8/5,273,BTM,Casual Dining,"Fritters, Lasagne, Biryani, Fish, Pasta, Draug...","North Indian, Continental, Chinese, Steak",900,"[('Rated 5.0', 'RATEDn Our team dinner was at...","['Friends Special Cocktail', 'Veg Hot Pot', 'C...",Delivery,Jayanagar
2058,37478,Pancharangi Cafe,No,No,NaN,,Koramangala 1st Block,Quick Bites,NaN,North Indian,500,[],[],Dine-out,Koramangala 7th Block
2059,11229,The Hidden Cafe,Yes,No,3.9 /5,96,Koramangala 1st Block,Quick Bites,"Hyderabadi Biryani, Ginger Chicken","North Indian, Fast Food",350,"[('Rated 5.0', 'RATEDn you know what five sta...","['Aloo Jeera', 'Butter Chicken with Ghee Rice'...",Dine-out,BTM
2060,51504,New Udupi Shubh Sagar,No,No,NaN,,Whitefield,Quick Bites,NaN,"South Indian, North Indian, Chinese",400,[],[],Dine-out,Whitefield
2061,200,Pizza Hut,Yes,No,3.8/5,693,Banashankari,Casual Dining,"Supreme Pizza, Potato Wedges, Masala Lemonade,...","Pizza, Fast Food",750,"[('Rated 5.0', 'RATEDn Great delivery, amazin...",[],Delivery,Banashankari
2062,40927,Le Charcoal,Yes,Yes,4.1 /5,341,Brookefield,Casual Dining,"Gajar Ka Halwa, Tandoori Chicken, Gulab Jamun,...","Arabian, Lebanese, Mughlai, North Indian, BBQ,...",600,"[('Rated 5.0', 'RATEDn I ordered chicken nood...",[],Delivery,Marathahalli
2063,35121,Firangi Bake,Yes,No,4.1 /5,95,BTM,Delivery,"Lasagne, Subz-e-royal Pot Rice","Mexican, Italian",600,"[('Rated 3.0', 'RATEDn Ordered veg lasagna an...","['Roast Chicken Steak', 'Minced Chicken Lasagn...",Delivery,Koramangala 7th Block
2064,8778,Zeeshan,Yes,No,3.8/5,214,Koramangala 7th Block,Casual Dining,"Rolls, Kathi Roll, Mutton Roll, Chicken Roll, ...","North Indian, Kebab, Biryani, Rolls",700,"[('Rated 1.0', ""RATEDn Pathetic service .we v...",[],Delivery,BTM
2065,18086,Zaica Dine & Wine,Yes,Yes,4.0/5,1013,Indiranagar,Casual Dining,"Chocolate Pani Puri, Butter Chicken, Gajar Hal...",North Indian,"1,200","[('Rated 5.0', ""RATEDn This place is located ...",[],Delivery,Indiranagar
2066,46112,Murphy's Brewhouse - The Paul Bangalore,No,Yes,4.3 /5,2039,Domlur,"Pub, Microbrewery","Chicken Bruschetta, Tandoori Chicken, Veggie P...","Continental, North Indian, Finger Food","1,700","[('Rated 4.0', 'RATEDn Service - 4/5, Taste -...",[],Pubs and bars,Old Airport Road
2067,10808,Cee Yem,No,No,NaN,,BTM,Quick Bites,NaN,"South Indian, Kerala, North Indian",300,[],[],Dine-out,BTM
2068,28875,Cauvery Fast Food,No,No,3.2 /5,4,Ejipura,Quick Bites,NaN,Chinese,150,"[('Rated 3.0', 'RATEDn Small place with minim...",[],Dine-out,Koramangala 4th Block

In [65]:

rest.fillna(rest.mean(), inplace=True)
# count the number of NaN values in each column
print(rest.isnull().sum())

Unnamed: 0                        0
name                              0
online_order                      0
book_table                        0
rate                            299
votes                             0
location                          0
rest_type                        17
dish_liked                     1107
cuisines                          0
approx_cost(for two people)      16
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [63]:
rest.isnull().sum()

Unnamed: 0                        0
name                              0
online_order                      0
book_table                        0
rate                            299
votes                             0
location                          0
rest_type                        17
dish_liked                     1107
cuisines                          0
approx_cost(for two people)      16
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [60]:
rest.head()

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield

In [67]:
#Handling the null values
rest.fillna("0", inplace = True)

In [68]:
rest.isnull().sum()

Unnamed: 0                     0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [69]:
rest.head()

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,0,0,Indiranagar,Quick Bites,0,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,0,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,0,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield

In [79]:
sns.pairplot(rest)
plt.show()

In [83]:
# Visualizing the categorical  varibales
plt.figure(figsize=(20,12))
plt.subplot(2,3,1)
sns.boxplot(x='votes', y='rate', data= rest)
plt.subplot(2,3,2)
#sns.boxplot(x='book_table', y='rate', data= rest)
#plt.subplot(2,3,3)
#sns.boxplot(x='location', y='rate', data= rest)
#plt.subplot(2,3,4)
#sns.boxplot(x='rest_type', y='rate', data= rest)
#plt.subplot(2,3,5)
#sns.boxplot(x='dish_liked', y='rate', data= rest)
#plt.subplot(2,3,6)
#sns.boxplot(x='cuisines', y='rate', data= rest)
#plt.subplot(2,3,7)
#sns.boxplot(x='reviews_list', y='rate', data= rest)
#plt.subplot(2,3,8)
#sns.boxplot(x='menu_item', y='rate', data= rest)
#plt.subplot(2,3,9)
#sns.boxplot(x='listed_in(type)', y='rate', data= rest)
#plt.subplot(2,3,10)
#sns.boxplot(x='listed_in(city)', y='rate', data= rest)
#plt.subplot(2,3,11)
plt.show()

In [85]:
### Data Preparation

# List of variables to map

varlist =  ['online_order', 'book_table']

# Defining the map function
def binary_map(x):
    return x.map({'yes': 1, "no": 0})

# Applying the function to the housing list
rest[varlist] = rest[varlist].apply(binary_map)

rest.head()

In [87]:
# Spliting data into train and test

from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
df_train, df_test = train_test_split(rest, train_size = 0.7, test_size = 0.3, random_state = 100)