In [1]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing Pandas and NumPy
import pandas as pd, numpy as np

In [3]:
# 2. Reading the data

df_rest = pd.read_csv("C:/Users/chandrasen.wadikar/Desktop/RestoInfo.csv", encoding='utf-8')
df_rest.head()

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield

In [4]:
df_rest.shape

(2069, 15)

In [5]:
df_rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Data columns (total 15 columns):
Unnamed: 0                     2069 non-null int64
name                           2069 non-null object
online_order                   2069 non-null object
book_table                     2069 non-null object
rate                           1770 non-null object
votes                          2069 non-null int64
location                       2069 non-null object
rest_type                      2052 non-null object
dish_liked                     962 non-null object
cuisines                       2069 non-null object
approx_cost(for two people)    2053 non-null object
reviews_list                   2069 non-null object
menu_item                      2069 non-null object
listed_in(type)                2069 non-null object
listed_in(city)                2069 non-null object
dtypes: int64(2), object(13)
memory usage: 242.5+ KB

In [6]:
# Renaming the column name 
df_rest.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [7]:
df_rest.dtypes

ID                              int64
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [8]:
# List of variables to map

varlist =  ['online_order', 'book_table']

# Defining the map function
def binary_map(x):
    return x.map({'Yes': 1, "No": 0})

# Applying the function to the housing list
df_rest[varlist] = df_rest[varlist].apply(binary_map)

In [9]:
df_rest.head()

,ID,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,0,0,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,0,0,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,1,0,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,0,0,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,1,1,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield

In [10]:
# Creating a dummy variable for some of the categorical variables and dropping the first one.
dummy1 = pd.get_dummies(df_rest[['location', 'rest_type', 'dish_liked', 'cuisines','menu_item','listed_in(type)','listed_in(city)','reviews_list','rate']], drop_first=True)

# Adding the results to the master dataframe
df_rest = pd.concat([df_rest, dummy1], axis=1)

In [11]:
df_rest.head()

,ID,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,...,rate_4.4 /5,rate_4.4/5,rate_4.5 /5,rate_4.5/5,rate_4.6 /5,rate_4.6/5,rate_4.7 /5,rate_4.8 /5,rate_4.9 /5,rate_NEW
0,46019,Unique Brew Cafe Resto,0,0,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,...,0,0,0,0,0,0,0,0,0,0
1,28849,Jayanthi Sagar,0,0,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",...,0,0,0,0,0,0,0,0,0,0
2,19855,Rock Stone Ice Cream Factory,1,0,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,...,0,0,0,0,0,0,0,0,0,0
3,35188,Punjabi by Nature 2.0,0,0,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,...,0,0,0,0,0,0,0,0,0,0
4,7070,Rayalaseema Chefs,1,1,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",...,0,0,0,0,0,0,0,0,0,0

In [12]:
# We have created dummies for the below variables, so we can drop them
df_rest = df_rest.drop(['location', 'rest_type', 'dish_liked', 'cuisines','menu_item','listed_in(type)','listed_in(city)','reviews_list','rate'], 1)

In [13]:
df_rest.dtypes

ID                                      int64
name                                   object
online_order                            int64
book_table                              int64
votes                                   int64
approx_cost(for two people)            object
location_Banashankari                   uint8
location_Banaswadi                      uint8
location_Bannerghatta Road              uint8
location_Basavanagudi                   uint8
location_Basaveshwara Nagar             uint8
location_Bellandur                      uint8
location_Bommanahalli                   uint8
location_Brigade Road                   uint8
location_Brookefield                    uint8
location_CV Raman Nagar                 uint8
location_Church Street                  uint8
location_City Market                    uint8
location_Commercial Street              uint8
location_Cunningham Road                uint8
location_Domlur                         uint8
location_Ejipura                        uint8
location_Electronic City                uint8
location_Frazer Town                    uint8
location_HBR Layout                     uint8
location_HSR                            uint8
location_Hebbal                         uint8
location_Hennur                         uint8
location_Hosur Road                     uint8
location_ITPL Main Road, Whitefield     uint8
                                        ...
rate_3.4 /5                             uint8
rate_3.4/5                              uint8
rate_3.5 /5                             uint8
rate_3.5/5                              uint8
rate_3.6 /5                             uint8
rate_3.6/5                              uint8
rate_3.7 /5                             uint8
rate_3.7/5                              uint8
rate_3.8 /5                             uint8
rate_3.8/5                              uint8
rate_3.9 /5                             uint8
rate_3.9/5                              uint8
rate_4.0 /5                             uint8
rate_4.0/5                              uint8
rate_4.1 /5                             uint8
rate_4.1/5                              uint8
rate_4.2 /5                             uint8
rate_4.2/5                              uint8
rate_4.3 /5                             uint8
rate_4.3/5                              uint8
rate_4.4 /5                             uint8
rate_4.4/5                              uint8
rate_4.5 /5                             uint8
rate_4.5/5                              uint8
rate_4.6 /5                             uint8
rate_4.6/5                              uint8
rate_4.7 /5                             uint8
rate_4.8 /5                             uint8
rate_4.9 /5                             uint8
rate_NEW                                uint8
Length: 4012, dtype: object

### Checking for outliers

In [14]:
 #Checking for outliers in the continuous variables
num_rest= df_rest[['ID','votes','online_order','book_table']]

In [15]:
# Checking outliers at 25%,50%,75%,90%,95% and 99%
num_rest.describe(percentiles=[.25,.5,.75,.90,.95,.99])

                 ID        votes  online_order   book_table
count   2069.000000  2069.000000   2069.000000  2069.000000
mean   25840.654422   276.048333      0.590140     0.125181
std    14877.311956   673.916908      0.491927     0.331004
min       27.000000     0.000000      0.000000     0.000000
25%    12561.000000     7.000000      0.000000     0.000000
50%    26193.000000    43.000000      1.000000     0.000000
75%    38902.000000   210.000000      1.000000     0.000000
90%    46025.800000   755.000000      1.000000     1.000000
95%    48874.200000  1322.400000      1.000000     1.000000
99%    51104.200000  3475.800000      1.000000     1.000000
max    51643.000000  7854.000000      1.000000     1.000000

In [16]:
# Adding up the missing values (column-wise)
df_rest.isnull().sum()

ID                                      0
name                                    0
online_order                            0
book_table                              0
votes                                   0
approx_cost(for two people)            16
location_Banashankari                   0
location_Banaswadi                      0
location_Bannerghatta Road              0
location_Basavanagudi                   0
location_Basaveshwara Nagar             0
location_Bellandur                      0
location_Bommanahalli                   0
location_Brigade Road                   0
location_Brookefield                    0
location_CV Raman Nagar                 0
location_Church Street                  0
location_City Market                    0
location_Commercial Street              0
location_Cunningham Road                0
location_Domlur                         0
location_Ejipura                        0
location_Electronic City                0
location_Frazer Town                    0
location_HBR Layout                     0
location_HSR                            0
location_Hebbal                         0
location_Hennur                         0
location_Hosur Road                     0
location_ITPL Main Road, Whitefield     0
                                       ..
rate_3.4 /5                             0
rate_3.4/5                              0
rate_3.5 /5                             0
rate_3.5/5                              0
rate_3.6 /5                             0
rate_3.6/5                              0
rate_3.7 /5                             0
rate_3.7/5                              0
rate_3.8 /5                             0
rate_3.8/5                              0
rate_3.9 /5                             0
rate_3.9/5                              0
rate_4.0 /5                             0
rate_4.0/5                              0
rate_4.1 /5                             0
rate_4.1/5                              0
rate_4.2 /5                             0
rate_4.2/5                              0
rate_4.3 /5                             0
rate_4.3/5                              0
rate_4.4 /5                             0
rate_4.4/5                              0
rate_4.5 /5                             0
rate_4.5/5                              0
rate_4.6 /5                             0
rate_4.6/5                              0
rate_4.7 /5                             0
rate_4.8 /5                             0
rate_4.9 /5                             0
rate_NEW                                0
Length: 4012, dtype: int64

In [17]:
df_rest.isnull().sum()

ID                                      0
name                                    0
online_order                            0
book_table                              0
votes                                   0
approx_cost(for two people)            16
location_Banashankari                   0
location_Banaswadi                      0
location_Bannerghatta Road              0
location_Basavanagudi                   0
location_Basaveshwara Nagar             0
location_Bellandur                      0
location_Bommanahalli                   0
location_Brigade Road                   0
location_Brookefield                    0
location_CV Raman Nagar                 0
location_Church Street                  0
location_City Market                    0
location_Commercial Street              0
location_Cunningham Road                0
location_Domlur                         0
location_Ejipura                        0
location_Electronic City                0
location_Frazer Town                    0
location_HBR Layout                     0
location_HSR                            0
location_Hebbal                         0
location_Hennur                         0
location_Hosur Road                     0
location_ITPL Main Road, Whitefield     0
                                       ..
rate_3.4 /5                             0
rate_3.4/5                              0
rate_3.5 /5                             0
rate_3.5/5                              0
rate_3.6 /5                             0
rate_3.6/5                              0
rate_3.7 /5                             0
rate_3.7/5                              0
rate_3.8 /5                             0
rate_3.8/5                              0
rate_3.9 /5                             0
rate_3.9/5                              0
rate_4.0 /5                             0
rate_4.0/5                              0
rate_4.1 /5                             0
rate_4.1/5                              0
rate_4.2 /5                             0
rate_4.2/5                              0
rate_4.3 /5                             0
rate_4.3/5                              0
rate_4.4 /5                             0
rate_4.4/5                              0
rate_4.5 /5                             0
rate_4.5/5                              0
rate_4.6 /5                             0
rate_4.6/5                              0
rate_4.7 /5                             0
rate_4.8 /5                             0
rate_4.9 /5                             0
rate_NEW                                0
Length: 4012, dtype: int64

In [18]:
# Checking the percentage of missing values
round(100*(df_rest.isnull().sum()/len(df_rest.index)), 2)

ID                                     0.00
name                                   0.00
online_order                           0.00
book_table                             0.00
votes                                  0.00
approx_cost(for two people)            0.77
location_Banashankari                  0.00
location_Banaswadi                     0.00
location_Bannerghatta Road             0.00
location_Basavanagudi                  0.00
location_Basaveshwara Nagar            0.00
location_Bellandur                     0.00
location_Bommanahalli                  0.00
location_Brigade Road                  0.00
location_Brookefield                   0.00
location_CV Raman Nagar                0.00
location_Church Street                 0.00
location_City Market                   0.00
location_Commercial Street             0.00
location_Cunningham Road               0.00
location_Domlur                        0.00
location_Ejipura                       0.00
location_Electronic City               0.00
location_Frazer Town                   0.00
location_HBR Layout                    0.00
location_HSR                           0.00
location_Hebbal                        0.00
location_Hennur                        0.00
location_Hosur Road                    0.00
location_ITPL Main Road, Whitefield    0.00
                                       ...
rate_3.4 /5                            0.00
rate_3.4/5                             0.00
rate_3.5 /5                            0.00
rate_3.5/5                             0.00
rate_3.6 /5                            0.00
rate_3.6/5                             0.00
rate_3.7 /5                            0.00
rate_3.7/5                             0.00
rate_3.8 /5                            0.00
rate_3.8/5                             0.00
rate_3.9 /5                            0.00
rate_3.9/5                             0.00
rate_4.0 /5                            0.00
rate_4.0/5                             0.00
rate_4.1 /5                            0.00
rate_4.1/5                             0.00
rate_4.2 /5                            0.00
rate_4.2/5                             0.00
rate_4.3 /5                            0.00
rate_4.3/5                             0.00
rate_4.4 /5                            0.00
rate_4.4/5                             0.00
rate_4.5 /5                            0.00
rate_4.5/5                             0.00
rate_4.6 /5                            0.00
rate_4.6/5                             0.00
rate_4.7 /5                            0.00
rate_4.8 /5                            0.00
rate_4.9 /5                            0.00
rate_NEW                               0.00
Length: 4012, dtype: float64

In [19]:
#Handling the null values
df_rest.fillna("0", inplace = True)

In [20]:
df_rest.isnull().sum()

ID                                     0
name                                   0
online_order                           0
book_table                             0
votes                                  0
approx_cost(for two people)            0
location_Banashankari                  0
location_Banaswadi                     0
location_Bannerghatta Road             0
location_Basavanagudi                  0
location_Basaveshwara Nagar            0
location_Bellandur                     0
location_Bommanahalli                  0
location_Brigade Road                  0
location_Brookefield                   0
location_CV Raman Nagar                0
location_Church Street                 0
location_City Market                   0
location_Commercial Street             0
location_Cunningham Road               0
location_Domlur                        0
location_Ejipura                       0
location_Electronic City               0
location_Frazer Town                   0
location_HBR Layout                    0
location_HSR                           0
location_Hebbal                        0
location_Hennur                        0
location_Hosur Road                    0
location_ITPL Main Road, Whitefield    0
                                      ..
rate_3.4 /5                            0
rate_3.4/5                             0
rate_3.5 /5                            0
rate_3.5/5                             0
rate_3.6 /5                            0
rate_3.6/5                             0
rate_3.7 /5                            0
rate_3.7/5                             0
rate_3.8 /5                            0
rate_3.8/5                             0
rate_3.9 /5                            0
rate_3.9/5                             0
rate_4.0 /5                            0
rate_4.0/5                             0
rate_4.1 /5                            0
rate_4.1/5                             0
rate_4.2 /5                            0
rate_4.2/5                             0
rate_4.3 /5                            0
rate_4.3/5                             0
rate_4.4 /5                            0
rate_4.4/5                             0
rate_4.5 /5                            0
rate_4.5/5                             0
rate_4.6 /5                            0
rate_4.6/5                             0
rate_4.7 /5                            0
rate_4.8 /5                            0
rate_4.9 /5                            0
rate_NEW                               0
Length: 4012, dtype: int64

In [21]:
# Checking percentage of missing values after removing the missing values
round(100*(df_rest.isnull().sum()/len(df_rest.index)), 2)

ID                                     0.0
name                                   0.0
online_order                           0.0
book_table                             0.0
votes                                  0.0
approx_cost(for two people)            0.0
location_Banashankari                  0.0
location_Banaswadi                     0.0
location_Bannerghatta Road             0.0
location_Basavanagudi                  0.0
location_Basaveshwara Nagar            0.0
location_Bellandur                     0.0
location_Bommanahalli                  0.0
location_Brigade Road                  0.0
location_Brookefield                   0.0
location_CV Raman Nagar                0.0
location_Church Street                 0.0
location_City Market                   0.0
location_Commercial Street             0.0
location_Cunningham Road               0.0
location_Domlur                        0.0
location_Ejipura                       0.0
location_Electronic City               0.0
location_Frazer Town                   0.0
location_HBR Layout                    0.0
location_HSR                           0.0
location_Hebbal                        0.0
location_Hennur                        0.0
location_Hosur Road                    0.0
location_ITPL Main Road, Whitefield    0.0
                                      ...
rate_3.4 /5                            0.0
rate_3.4/5                             0.0
rate_3.5 /5                            0.0
rate_3.5/5                             0.0
rate_3.6 /5                            0.0
rate_3.6/5                             0.0
rate_3.7 /5                            0.0
rate_3.7/5                             0.0
rate_3.8 /5                            0.0
rate_3.8/5                             0.0
rate_3.9 /5                            0.0
rate_3.9/5                             0.0
rate_4.0 /5                            0.0
rate_4.0/5                             0.0
rate_4.1 /5                            0.0
rate_4.1/5                             0.0
rate_4.2 /5                            0.0
rate_4.2/5                             0.0
rate_4.3 /5                            0.0
rate_4.3/5                             0.0
rate_4.4 /5                            0.0
rate_4.4/5                             0.0
rate_4.5 /5                            0.0
rate_4.5/5                             0.0
rate_4.6 /5                            0.0
rate_4.6/5                             0.0
rate_4.7 /5                            0.0
rate_4.8 /5                            0.0
rate_4.9 /5                            0.0
rate_NEW                               0.0
Length: 4012, dtype: float64

### Test-Train Split

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
# Putting feature variable to X
X = df_rest.drop(['name','ID'], axis=1)

X.head()

,online_order,book_table,votes,approx_cost(for two people),location_Banashankari,location_Banaswadi,location_Bannerghatta Road,location_Basavanagudi,location_Basaveshwara Nagar,location_Bellandur,...,rate_4.4 /5,rate_4.4/5,rate_4.5 /5,rate_4.5/5,rate_4.6 /5,rate_4.6/5,rate_4.7 /5,rate_4.8 /5,rate_4.9 /5,rate_NEW
0,0,0,0,200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,21,200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,131,230,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,3236,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,225,800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Special charaters, Garbage data is handled with the space.
removeSpecialChars = df_rest.replace ({ord(c): " " for c in "!@#$%^&*()[]{};:,./<>?\|`~-=_+"})

In [26]:
# Putting response variable to y
y = df_rest['votes']

y.head()

0       0
1      21
2     131
3    3236
4     225
Name: votes, dtype: int64

In [27]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=100)

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

X_train[['rate_NEW','online_order']] = scaler.fit_transform(X_train[['rate_NEW','online_order']])

X_train.head()

,online_order,book_table,votes,approx_cost(for two people),location_Banashankari,location_Banaswadi,location_Bannerghatta Road,location_Basavanagudi,location_Basaveshwara Nagar,location_Bellandur,...,rate_4.4 /5,rate_4.4/5,rate_4.5 /5,rate_4.5/5,rate_4.6 /5,rate_4.6/5,rate_4.7 /5,rate_4.8 /5,rate_4.9 /5,rate_NEW
1351,-1.212844,0,6,150,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.218533
398,0.824509,0,0,250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.218533
157,0.824509,0,67,600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.218533
108,0.824509,0,167,"1,700",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.218533
222,0.824509,0,410,500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.218533

In [30]:
### Checking the voting Rate
votes = (sum(df_rest['votes'])/len(df_rest['votes'].index))*100
votes

27604.83325277912

### Looking at Coorelation

In [ ]:
# Importing matplotlib and seaborn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Let's see the correlation matrix 
plt.figure(figsize = (20,10))        # Size of the figure
sns.heatmap(df_rest.corr(),annot = True)
plt.show()

### Model Building

In [ ]:
import statsmodels.api as sm

In [ ]:
# Logistic regression model
logm1 = sm.GLM(y_train,(sm.add_constant(X_train)), family = sm.families.Binomial())
logm1.fit().summary()

In [73]:
df_rest['reviews_list'] = rest ['reviews_list'].str.replace(r"\[]","")

In [79]:
df_rest.reviews_list = df_rest.reviews_list.str.strip()     
df_rest.reviews_list = df_rest.reviews_list.str.replace(' ', '_')         
df_rest.reviews_list = df_rest.reviews_list.str.replace(r"[^a-zA-Z\d\_]+", "")    
df_rest.reviews_list = df_rest.reviews_list.str.replace(r"[^a-zA-Z\d\_]+", "")