In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

array ([1,0,0.1])
print(np.random.randn(2,2)

[[ 0.94916829  0.10839111 -0.24071101  0.25999961  0.52913157  0.80748854
  -2.01775683 -0.08755493  0.77684939 -1.81497426]]

In [14]:
import pandas as pd 
import numpy as np
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/N9LKLvBAx1y14PLoBdL0yRn3/Admission_Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [16]:
std = df.groupby(['GRE Score']).std()

In [17]:
import random

total_heads = 10
total_tails = 2
count = 0


while count < 100:

    coin = random.randint(1, 2)

    if coin == 1:
        print("Heads!\n")
        total_heads += 1
        count += 1

    elif coin == 2:
        print("Tails!\n")
        total_tails += 1
        count += 1

print("\nOkay, you flipped heads", total_heads, "times ")
print("\nand you flipped tails", total_tails, "times ")

Tails!

Tails!

Tails!

Heads!

Tails!

Heads!

Tails!

Tails!

Heads!

Heads!

Tails!

Tails!

Heads!

Heads!

Tails!

Heads!

Tails!

Tails!

Heads!

Heads!

Tails!

Tails!

Tails!

Tails!

Tails!

Heads!

Tails!

Tails!

Tails!

Tails!

Tails!

Heads!

Heads!

Tails!

Heads!

Heads!

Tails!

Tails!

Tails!

Tails!

Heads!

Heads!

Tails!

Heads!

Heads!

Heads!

Tails!

Heads!

Tails!

Tails!

Heads!

Tails!

Tails!

Heads!

Heads!

Tails!

Tails!

Heads!

Tails!

Tails!

Heads!

Tails!

Tails!

Tails!

Heads!

Heads!

Heads!

Tails!

Tails!

Heads!

Tails!

Tails!

Tails!

Tails!

Tails!

Heads!

Heads!

Heads!

Tails!

Heads!

Tails!

Tails!

Tails!

Tails!

Heads!

Heads!

Tails!

Tails!

Tails!

Heads!

Tails!

Tails!

Tails!

Heads!

Tails!

Heads!

Tails!

Tails!

Tails!

Heads!


Okay, you flipped heads 49 times

and you flipped tails 63 times

In [19]:
import random

N = 10
# get N random bits; convert them to binary string; pad with zeros if necessary
bits = "{1:>0{0}}".format(N, bin(random.getrandbits(N))[2:])
# print results
print('{total} {heads} {tails}'.format(
    total=len(bits), heads=bits.count('0'), tails=bits.count('1')))

10 5 5

In [22]:
import random
tries = 10
heads=2
tails=0
while tries < 10:
    tries += 1
    coin = random.randint(1, 2)
    if coin == 1:
        print('Heads')
        heads+=1
    if coin == 2:
        print ('Tails')
        tails+=1
total = tries
print(total)

10

In [62]:
import random
# n is  the target number of heads in a row
# Change the value of n, for different target heads-sequences
n = 3
possible_tosses = [ 'h', 't' ]
num_trials = 1000
seq_lengths_rec = []

for trial_num in range(0, num_trials):

    if (trial_num % 100) == 0:
        print('Trial num {} out of {}'.format(trial_num, num_trials))
        # (The free version of trinket.io uses Python2)

    heads_counter = 0
    toss_counter = 0

    while heads_counter < n:
        toss_counter +=0.040

        this_toss = random.choice(possible_tosses)

        if this_toss == 'h':
            heads_counter += 1
        else:
            heads_counter = 0
    seq_lengths_rec.append(toss_counter)


print(sum(seq_lengths_rec) / len(seq_lengths_rec))

Trial num 0 out of 1000
Trial num 100 out of 1000
Trial num 200 out of 1000
Trial num 300 out of 1000
Trial num 400 out of 1000
Trial num 500 out of 1000
Trial num 600 out of 1000
Trial num 700 out of 1000
Trial num 800 out of 1000
Trial num 900 out of 1000
0.5709200000000012

In [67]:
n,p =10,.5
s = np.random.binomial(n,p,1000)
sum(np.random.binomial(0,10,1)==0)/20000

ValueError: p > 1