In [1]:
for i in range(100):
    print (i)
    if i >50:
        break
        print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [1]:
for i in range(100):
    print (i)
    if i >50:
        break
        print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [3]:
for i in range(100):
    print (i)
    if i >50:
        continue
        print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [4]:
start = 20
total = 0
while start <51:
    total =+start
    start +=1
    print(start)
    
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
50

In [6]:
squares_list= []

for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
squares_list =[x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
paragraph = ["There was fox.",'It was brown in color.',"It was seen near lake."]
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
print(single_word_list)

['There', 'was', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'lake.']

In [20]:
single_word_list =[word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'lake.']

In [28]:
vowels =['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)
            
print(vowels_from_sentence)

['It', 'in', 'It']

In [29]:
vowels_comp =[word for sentence in paragraph for word in sentence.split()]
print(vowels_comp)

['There', 'was', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'lake.']

In [33]:
squares_list= []

for x in range(1,5):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16]

In [34]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [35]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [39]:
product_list =[]
for i in range(10):
    for j in range(10,20):
        product_list.append(i*j)
print(product_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

In [41]:
product_list =[i*j for i in range (10) for j in range(10,20)]
print(product_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

In [44]:
squared_dictonary = {num : num*2 for num in range(0,25)}
print(squared_dictonary)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48}

In [45]:
students_data ={1:['Shivam Bansal',24],2:['Udit Bansal',25],3:['Sonam Kapoor',24]}
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Kapoor', 24]}

In [49]:
names_dict ={}

for roll_num, details in students_data.items():
    if roll_num%2 == 0:
        name_dict[roll_num]= details[0]
print(names_dict)

NameError: name 'name_dict' is not defined

In [53]:
names_comp = {roll_num : details[0] for roll_num, details in students_data.items() if roll_num%2==0}
print(names_comp)

{2: 'Udit Bansal'}

In [56]:
squared_dictonary = {num : num**2 for num in range(1,9)}
print(squared_dictonary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}